*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;

}

.options h1 {
    font-size: 18px;
    margin: 0;
}
.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 300px;
}
.hl{
    background-color: yellowgreen;
}