body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Set a light background color */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Set a dark background color for the header */
    color: #fff; /* Set text color to white */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Set a white background color for the main content */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.recipe-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.recipe-details {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333; /* Set a dark background color for the footer */
    color: #fff; /* Set text color to white */
}
