*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}
img{
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 50px;
    
    
    
}
h1{
    margin-left: 50px;
    margin-bottom: 50px;
}
p{
    margin-left: 50px;
    margin-bottom: 40px;
    
}
ul{
    margin-bottom: 100px;
}
body{
    background-color:#F4E5D9;

}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Set a white background color for the main content */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
.first, h4{
    text-overflow: inherit;
    text-decoration-color: #000;
    text-overflow: inherit;  
    flex-direction: initial;
    flex-wrap: wrap;  
    background-color: hsl(330, 100%, 98%);
    
}
li,td{
    margin-left: 50px;
    flex-direction: column;
    ;

}

